.port-icons-list {
    color: #eeeeee;
    font-size: 2.5em;}
    .container {
    max-width: 1100px;
    margin: 0 auto;
}
.port-icons-list:hover {
    margin: 0;
}
.fa-desktop:hover {
color: rgb(0,230,255);
}
.cards {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background: #0C1618;
    color: #eeeeee;
    font-size: 1rem;
    font-family: 'Archivo', sans-serif;
    text-decoration: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-left: 1px solid rgba(0,230,255,.95);
    border-bottom: 1px solid rgba(0,230,255,.95);
}
@media (max-width: 743px) {.card {width: 100%;}}
@media (min-width: 743px) {
    .card {max-width: 320px;margin: 5px;}
    .card:nth-child(even) {margin: 5px;}
}
@media (min-width: 994px) {
.card {max-width: 300px; margin: 5px;}
.card:nth-child(even) {margin: 5px;}
}
.card span {
  display: block;
}
.card .card-summary {
  padding: 5% 5% 3% 5%;
}
.card .card-header {
  position: relative;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  height: 175px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.35);
  background-blend-mode: overlay;
  -moz-border-radius:  0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.card .card-title {
  background: rgba(12, 22, 24, 0.6);
  padding: 3.5% 0 2.5% 0;
  color: #eeeeee;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-left: 1px solid rgba(0,230,255,.95);
  border-bottom: 1px solid rgba(0,230,255,.95);
}
.card .card-title h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}
img {
  max-width: 100%;
}
.icon-links {
margin: auto;
display: flex;
padding: 5%;
}

/*_____________________________________________________________________________________port btns__________*/
.port-btn-group {
right: 1em;
  list-style: none;
  margin: auto;
  position: relative;
  font-size: .6em;
}
.port-btn-group li {

  text-align: center;
}
.port-btn-container{
display: block;
  margin: auto;
  align-text: center;
  width: 90%;
  z-index:50;
}
.port-list-btn {
  display: block;
  padding: 9px;
  text-decoration: none;
  transition: all 0.2s ease;
  position: relative;
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  overflow: hidden;
}
.port-btn-group .port-list-btn {
  border: 1px solid rgb(0,230,255);
  color: rgb(0,230,255);
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.port-btn-group .active-port-btn {
  border: 1px solid rgb(0,230,255);
  color: #eeeeee;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
}
.port-btn-group .port-list-btn:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  background: rgba(0,230,255,.55);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  z-index: -1;
}
.port-btn-group .port-list-btn:hover {
  color: #eeeeee;
}
.port-btn-group .port-list-btn:hover:before {
left: 50%;
  width: 1000px;
  height: 1000px;
}
ul .port-btn-group{
    -moz-column-count: 2;
    -moz-column-gap: 5px;
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
    column-count: 2;
    column-gap: 5px;
}
@media only screen and (min-width: 650px) {
li .port-list-btn {
  display: flex-block;
}
.port-btn-container{
display: flex-block;
  width: 100%;
}
.port-btn-group {
  font-size: 1em;
}
.port-list-btn {
  display: block;
  padding: 10px;
}
}
@media only screen and (min-width: 995px) {
.port-btn-group {
    -moz-column-count: 4;
    -moz-column-gap: 5px;
    -webkit-column-count: 4;
    -webkit-column-gap: 5px;
    column-count: 4;
    column-gap: 5px;
}
li {
  display: block-flex;
}
.port-btn-container{
display: flex;
  width: 100%;
  margin: auto;
}
.port-list-btn {
  padding: 20px;
}}




