{% include "header.html" %}
{% block content %}
  <!-- Page Header -->
 <header class="masthead" style="background-image: url('{{ url_for('static', filename='/img/hex-main.png')}}')">
<div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>File Moved</h1>
            <span class="subheading">Sorry, this asset is no longer in this location.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
<section class="main-container">
  <div class="contact-container"><div class="home"></div>
  <div class="bg"></div>
    <div class="cover"></div>
    <div class="row">
<div class="blu-hr-one"></div>
      <div class="col-lg-8 col-md-10 mx-auto">

      </div>
    </div>
  </div>
</section>
{% include "footer.html" %}
{% endblock %}