{% include "header.html" %}

{% block content %}

  <!-- Page Header -->
    <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about.jpg')}})">
    <div class="overlay"></div>
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">Where I've been and where I'm going.</span>
                </div>
            </div>
        </div>

    </header>

  <!-- Main Content -->
<section class="main-container">
    <div class="contact-container">
        <div class="home"></div>
        <div class="bg"></div>
        <div class="cover"></div>
<!--        <div class="row">-->
            <div class="blu-hr-one"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
                <div class="about-p">
<!-- work history -->
                    <div class="block-content timeline-block l-block-spacing">



                        <div class="services-header-container">
                            <div class="services-header-items">
                                <div class="text-header-item header-item">
                                    <!-- todo: fix img 2 -->
                                    <img class="services-img" src="{{ url_for('static', filename='/img/fishy.jpg')}}" />
                                </div>
                                <div class="header-item">
                                    <h1 class="about-top">
                                        Hi. I'm Colleen.
                                        A Software Engineer.
                                    </h1>
                                </div>
                            </div>
                        </div>


                            <div class="badge-span">
                                <ul class="stack-badge-ul">
                                    <li><i class="fab fa-python"></i></li>
                                    <li><i class="fab fa-bootstrap"></i></li>
                                    <li><img class="flask" src="{{ url_for('static', filename='/img/flask.png')}}" alt="Flask Icon"></li>
                                    <li><i class="fab fa-html5"></i></li>
                                    <li><i class="fab fa-css3-alt"></i></li>
                                </ul>
                            </div>
                            <p class="future-text">
                                Specifically I'm a front-end designer, developer and app builder with a passion for UX and Data.
                            </p>
        <!--            </div>-->
                            <section class="block-content l-block-spacing">
                            <div class="l-contained">
                                    <div class="blu-hr-one"></div>

                                    <h2 class="services-head">
                                        My Journey
                                    </h2>

                    <!-- work history -->
                                <ul class="timeline-list">
                                    <li>
                                        <div class="timeline-content">
                                            <h3>
                                                2008-2016
                                            </h3>
                                            <p>
                                                This was a period of education and skill expansion for me.  Besides working as a bartender I was taking on freelance design work creating logo's, posters, banners, book covers and various other projects within the design field during this time. <br/><br/> This was also when my passion for coding was lit ablaze.  With a hand-me-down Dell and I began the life long journey of web design and development.  Later, I began studying Computer Science at Tulane University where I began to obtain a deeper knowledge of computer systems and started the study of Python.
                                            </p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="timeline-content">
                                            <h3>
                                                2016-Present
                                            </h3>
                                            <p>
                                                As 2016 rolled around the Cryptocurrency craze was taking off, and I was on that rocket.  I started in FinTech industry working in marketing and design and worked my way into the backend where I primarly used .Net, Java, and C. Inevitably this lead to me creating my own cryptocurrency projects, one of which I still work on today.
                                            </p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="timeline-content">
                                            <h3>
                                                2018-2019
                                            </h3>
                                            <p>
                                                In 2018 I transitioned out of a development position to managing projects.  In this role I found myself handling the logistics of remote employees, funding, design and code.  I left this arena in 4Q 2019 to pursue freelancing so I could focus on other projects.
                                            </p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="timeline-content">
                                            <h3>
                                                2020-Present
                                            </h3>
                                            <p>
                                                2020 brought new and unprecedented challenges, but also opportunities.  I pivoted to full-time freelancing, project building and education early in 2020.  This intensive time in tech has exponentially expanded my knowledge base and allowed me to explore new passions, such as machine learning and automation.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            </section>
        <!-- end work history -->

                                <h2 class="services-head">
                                    Into The Future
                                </h2>

                                <div class="col-lg-12 col-md-12 mx-auto">
                                    <p class="future-text">
                                    Besides helping clients with their project I'm also working on a few of my own projects on the side.  In my free time I'm exploring game development, cryptocurrency, machine learning, and blogging.  Each of are in various states of complete and I hope to share with the world soon.
                                    </p>

                                        <div class="blu-hr-one"></div>

                                        <h2 class="services-head">
                                           Slice of Life
                                        </h2>

                                    <p class="future-text">
                                        Coding really is my passion.  It's what drives me when I get up everyday because it allows me to create anything and test the limits of technology.  I love how coding allows me to craft dreams into reality and approach every challenge like a puzzle to be solved.
                                        <br/><br/>
                                        When I'm not coding, which is admittedly a rare moment, I like to unwind by getting into nature.  I'm either getting dirty in the garden, getting lost in a book or preparing a fantastically spicy bowl of ramen.
                                    </p>
                                        <div class="blu-hr-one"></div>
                                    <a class="cont-btn-link" href="{{ url_for('services') }}">
                                        <div class="cont-btn-container">
                                            <span class="cont-btn">
                                                Lets work together!
                                            </span>
                                        </div>
                                    </a>
                                </div>
                <!-- call to action & doodle-->
                                <div class="call-to-action">
                                    <div class="cat-container">
                                        <div class="cat">
                                            <div class="body"></div>
                                            <div class="cat-head">
                                                <div class="ear"></div>
                                                <div class="ear"></div>
                                            </div>
                                                <div class="face">
                                                    <div id="cat-eyes">
                                                        <div class='eyes'>
                                                            <div class='eye'></div>
                                                            <div class='eye'></div>
                                                        </div>
                                                    </div>
                                                        <div class="nose"></div>
                                                </div>

                                                    <div class="tail-container">
                                                        <div class="tail">
                                                            <div class="tail">
                                                                <div class="tail">
                                                                    <div class="tail">
                                                                        <div class="tail">
                                                                            <div class="tail">
                                                                                <div class="tail"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="speech-bubble">
                                            <div class="bubble-wrap">
                                                <div class="bubble-text">
                                                    Got a question?  Send me a
                                                        <a class="msg-link" href="{{ url_for('contact') }}">
                                                            Message
                                                        </a>!
                                                </div>
                                            </div>
                                        </div>
                    </div>
                </div>
            </div>
            </div>
<!--            </div>-->
</section>
<script type="module" src="{{ url_for('static', filename='js/cat.js')}}"></script>
{% include "footer.html" %}
{% endblock %}
