{% include "header.html" %}
<link href="{{ url_for('static', filename='css/portfolio.css')}}" rel="stylesheet">
{% block content %}
  <!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='/img/games.jpg')}}')">
<div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Games</h1>
            <span class="subheading">Completed and ongoing game development.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
<section class="main-container">
	<div class="contact-container">
		<div class="home"></div>
		<div class="bg"></div>
		<div class="cover"></div>
	  	<div class="row">
	<div class="blu-hr-one"></div>
	<!-- split -->

			<div class="container">
				<div class="cards">
		 <!-- split -->
					<div class="port-btn-container">
						<ul class="port-btn-group">
							<li><a href="{{ url_for('web_development') }}" class="port-list-btn">Web Development</a></li>
							<li><a href="#" class="active-port-btn port-list-btn">Games</a></li>
							<li><a href="{{ url_for('crypto') }}" class="port-list-btn">Crypto</a></li>
							<li><a href="{{ url_for('bots') }}" class="port-list-btn">Bots</a></li>
							<li><a href="{{ url_for('applications') }}" class="port-list-btn">Apps</a></li>
							<li><a href="{{ url_for('graphic_design') }}" class="port-list-btn">Graphic Design</a></li>
							<li><a href="{{ url_for('machine_learning') }}" class="port-list-btn">Machine Learning</a></li>
							<li><a href="{{ url_for('prototypes') }}" class="port-list-btn">Prototypes</a></li>
						</ul>
					</div>
						<div class="container">
							<div class="cards">
								<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/javascript-rpg-final.gif')}}');">
										<div class="card-title">
											<h3>TXT RPG</h3>
										</div>
									</div>
									<span class="card-summary">
										Short TXT based adventure RPG example.  Built with Javascript.
									</span>
									<span class="icon-links">
											<a href="https://github.com/cmlohr/javascript-text-rpg"><i class="port-icons-list fab fa-github-square"></i></a>
		<!--									<a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>-->
		<!--									<a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
										</span>
								</div>

				<!--        card            -->
								<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/etch-a-sketch.gif')}}');">
										<div class="card-title">
											<h3>Py-Etch-A-Sketch</h3>
										</div>
									</div>
									<span class="card-summary">
										Python based functional Etch-A-Sketch program.  Built with Turtle.
									</span>
									<span class="icon-links">
											<a href="https://github.com/cmlohr/py-etch-a-sketch"><i class="port-icons-list fab fa-github-square"></i></a>
		<!--									<a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>-->
		<!--									<a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
										</span>
								</div>

				<!--        card            -->
				<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/pong.gif')}}');">
										<div class="card-title">
											<h3>Pong</h3>
										</div>
									</div>
									<span class="card-summary">
										Completed recreation Pong game with Python Turtle.
									</span>
									<span class="icon-links">
											<a href="https://github.com/cmlohr"><i class="port-icons-list fab fa-github-square"></i></a>
		<!--									<a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>-->
		<!--									<a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
										</span>
								</div>

				<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/snakegame.gif')}}');">
										<div class="card-title">
											<h3>Snake</h3>
										</div>
									</div>
									<span class="card-summary">
									Completed recreation of the classic Snake game with Python Turtle.
									</span>
									<span class="icon-links">
											<a href="https://github.com/cmlohr"><i class="port-icons-list fab fa-github-square"></i></a>
		<!--									<a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>-->
		<!--									<a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
										</span>
								</div>

				<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/turtle_crossing.gif')}}');">
										<div class="card-title">
											<h3>Turtle Crossing</h3>
										</div>
									</div>
									<span class="card-summary">
										Completed game. A turtle take on the classic Frogger.  Created using Python Turtle.
									</span>
										<span class="icon-links">
											<a href="https://github.com/cmlohr"><i class="port-icons-list fab fa-github-square"></i></a>
						<!--                    <a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>-->
						<!--                    <a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
										</span>
								</div>

				 <!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/elsif.gif')}}');">
										<div class="card-title">
											<h3>Elsif</h3>
										</div>
									</div>
									<span class="card-summary">
										Currently in private development.  Elsif in its first generation will be a browser based MMORPG.
									</span>
									<span class="icon-links">
						<!--                    <a href="https://github.com/cmlohr"><i class="port-icons-list fab fa-github-square"></i></a>-->
						<!--                    <a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>-->
						<!--                    <a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
										</span>
								</div>

						<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/dicegame.gif')}}');">
										<div class="card-title">
											<h3>Farkle</h3>
										</div>
									</div>
									<span class="card-summary">
										 Currently in development.  This Farkle game will feature 3d spinning dice and an active score board for one human player vrs the computer.
									</span>
									<span class="icon-links">
											<a href="https://github.com/cmlohr"><i class="port-icons-list fab fa-github-square"></i></a>
											<a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>
						<!--                    <a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
										</span>
								</div>

						<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/comingsoon.gif')}}');">
										<div class="card-title">
											<h3>The Game of Life</h3>
										</div>
									</div>
									<span class="card-summary">
										Currently in private development. My take on Conway's cellular automaton Game of Life from 1970.
									</span>
									<span class="icon-links">
						<!--                    <a href="https://github.com/cmlohr"><i class="port-icons-list fab fa-github-square"></i></a>-->
						<!--                    <a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>-->
						<!--                    <a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
									</span>
								</div>
						<!--	card end	-->
							</div>
		<!---->
						 </div>
    			</div>
			</div>
		</div>
	</div>
</section>
{% include "footer.html" %}
{% endblock %}