{% include "header.html" %}
<link href="{{ url_for('static', filename='css/portfolio.css')}}" rel="stylesheet">
{% block content %}
  <!-- Page Header -->
 <header class="masthead" style="background-image: url('{{ url_for('static', filename='/img/gdx.jpg')}}')">
<div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Graphic Design</h1>
            <span class="subheading">Pretty thing's I've made.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
<section class="main-container">
	<div class="contact-container">
		<div class="home"></div>
		<div class="bg"></div>
		<div class="cover"></div>
	  	<div class="row">
			<div class="blu-hr-one"></div>

	<!-- split -->

			<div class="container">
				<div class="cards">
		 <!-- split -->
					<div class="port-btn-container">
						<ul class="port-btn-group">
							<li><a href="{{ url_for('web_development') }}" class="port-list-btn">Web Development</a></li>
							<li><a href="{{ url_for('games') }}" class="port-list-btn">Games</a></li>
							<li><a href="{{ url_for('crypto') }}" class="port-list-btn">Crypto</a></li>
							<li><a href="{{ url_for('bots') }}" class="port-list-btn">Bots</a></li>
							<li><a href="{{ url_for('applications') }}" class="port-list-btn">Apps</a></li>
							<li><a href="#" class="active-port-btn port-list-btn">Graphic Design</a></li>
							<li><a href="{{ url_for('machine_learning') }}" class="port-list-btn">Machine Learning</a></li>
							<li><a href="{{ url_for('prototypes') }}" class="port-list-btn">Prototypes</a></li>
						</ul>
					</div>
						<div class="container">
							<div class="cards">
				<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/toast.gif')}}');">
										<div class="card-title">
											<h3>Jumping Toast</h3>
										</div>
									</div>
									<span class="card-summary">
											Animation was created for the 2021 February CodePen 'Rise' challenge.
									</span>
									<span class="icon-links">
											<a href="https://github.com/cmlohr/Jumping_Toast"><i class="port-icons-list fab fa-github-square"></i></a>
											<a href="https://codepen.io/cmlohr/full/mdOepbr"><i class="port-icons-list fab fa-codepen"></i></a>
		<!--									<a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
										</span>
								</div>

				<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/card.gif')}}');">
										<div class="card-title">
											<h3>My Card</h3>
										</div>
									</div>
									<span class="card-summary">
									My business card, created with jQuery.
									</span>
									<span class="icon-links">
<!--											<a href="https://github.com/cmlohr"><i class="port-icons-list fab fa-github-square"></i></a>-->
<!--											<a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>-->
											<a href="{{ url_for('card') }}"><i class="port-icons-list fas fa-desktop"></i></a></span>
									</span>
								</div>

				<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/clock.gif')}}');">
										<div class="card-title">
											<h3>Analogue Clock</h3>
										</div>
									</div>
									<span class="card-summary">
										Fully operational analogue clock made with CSS and Javascript.
									</span>
										<span class="icon-links">
<!--											<a href="https://github.com/cmlohr"><i class="port-icons-list fab fa-github-square"></i></a>-->
						                    <a href="https://codepen.io/cmlohr/pen/JjbGXLy"><i class="port-icons-list fab fa-codepen"></i></a>
						<!--                    <a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
										</span>
								</div>

				 <!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/hex.gif')}}');">
										<div class="card-title">
											<h3>Rotating Hex</h3>
										</div>
									</div>
									<span class="card-summary">
										A study of 3d rotating hexagons created with Three.js and GSAP.
									</span>
									<span class="icon-links">
						                    <a href="https://github.com/cmlohr/3d_Green_Glowy_Spinning_Hex_Rings"><i class="port-icons-list fab fa-github-square"></i></a>
<!--						                    <a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>-->
						                    <a href="https://mfbzu.csb.app/"><i class="port-icons-list fas fa-desktop"></i></a></span>
										</span>
								</div>

						<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/gridmorph.gif')}}');">
										<div class="card-title">
											<h3>Grid Study</h3>
										</div>
									</div>
									<span class="card-summary">
										Study in morphing CSS grids, built in pure CSS with animations.
									</span>
									<span class="icon-links">
<!--											<a href="https://github.com/cmlohr"><i class="port-icons-list fab fa-github-square"></i></a>-->
											<a href="https://codepen.io/cmlohr/pen/eYBZvdK"><i class="port-icons-list fab fa-codepen"></i></a>
						<!--                    <a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
										</span>
								</div>

						<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/darkmode.gif')}}');">
										<div class="card-title">
											<h3>Neumorphism Dark Mode</h3>
										</div>
									</div>
									<span class="card-summary">
										Neumorphism dark mode toggle made with Javascript.
									</span>
									<span class="icon-links">
<!--						                    <a href="https://github.com/cmlohr"><i class="port-icons-list fab fa-github-square"></i></a>-->
						                    <a href="https://codepen.io/cmlohr/pen/MWbKEMj"><i class="port-icons-list fab fa-codepen"></i></a>
						<!--                    <a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
									</span>
								</div>
				<!--	card end	-->
							</div>

					 	</div>
    			</div>
			</div>
		</div>
	</div>
</section>
{% include "footer.html" %}
{% endblock %}