{% include "header.html" %}
<link href="{{ url_for('static', filename='css/portfolio.css')}}" rel="stylesheet">
{% block content %}
  <!-- Page Header -->
 <header class="masthead" style="background-image: url('{{ url_for('static', filename='/img/proto.jpg')}}')">
<div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Prototypes</h1>
            <span class="subheading">Experiments and flights of fancy.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
<section class="main-container">
	<div class="contact-container">
		<div class="home"></div>
		<div class="bg"></div>
		<div class="cover"></div>
	  	<div class="row">
			<div class="blu-hr-one"></div>

	<!-- split -->

			<div class="container">
				<div class="cards">
		 <!-- split -->
					<div class="port-btn-container">
						<ul class="port-btn-group">
							<li><a href="{{ url_for('web_development') }}" class="port-list-btn">Web Development</a></li>
							<li><a href="{{ url_for('games') }}" class="port-list-btn">Games</a></li>
							<li><a href="{{ url_for('crypto') }}" class="port-list-btn">Crypto</a></li>
							<li><a href="{{ url_for('bots') }}" class="port-list-btn">Bots</a></li>
							<li><a href="{{ url_for('applications') }}" class="port-list-btn">Apps</a></li>
							<li><a href="{{ url_for('graphic_design') }}" class="port-list-btn">Graphic Design</a></li>
							<li><a href="{{ url_for('machine_learning') }}" class="port-list-btn">Machine Learning</a></li>
							<li><a href="#" class="active-port-btn port-list-btn">Prototypes</a></li>
						</ul>
					</div>
						<div class="container">
							<div class="cards">
				<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/cico.gif')}}');">
										<div class="card-title">
											<h3>CICO GUI App</h3>
										</div>
									</div>
									<span class="card-summary">
										WIP Desktop calorie tracker app.  Features quick add buttons, and API nutrition data.  Built with Tkinter.
									</span>
									<span class="icon-links">
											<a href="https://github.com/cmlohr/calorie-counter-gui"><i class="port-icons-list fab fa-github-square"></i></a>
		<!--									<a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>-->
		<!--									<a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
										</span>
								</div>

				<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/pass_man.gif')}}');">
										<div class="card-title">
											<h3>Password Manager</h3>
										</div>
									</div>
									<span class="card-summary">
									Desktop GUI password manager with built in password generator and search function. Built with Pandas and Tkinter.
									</span>
									<span class="icon-links">
											<a href="https://github.com/cmlohr/GUI-password-manager"><i class="port-icons-list fab fa-github-square"></i></a>
		<!--									<a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>-->
		<!--									<a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
										</span>
								</div>

				<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/dino.gif')}}');">
										<div class="card-title">
											<h3>Pomodoro Timer</h3>
										</div>
									</div>
									<span class="card-summary">
										Dinosaur flavoured pomodoro timer. Keep track of your breaks and be maximize your efficiency with the DinoPomo.   Built with Tkinter.
									</span>
										<span class="icon-links">
											<a href="https://github.com/cmlohr/DinoPomo-timer"><i class="port-icons-list fab fa-github-square"></i></a>
						<!--                    <a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>-->
						<!--                    <a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
										</span>
								</div>

				 <!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/elsif.gif')}}');">
										<div class="card-title">
											<h3>Elsif</h3>
										</div>
									</div>
									<span class="card-summary">
										Currently in private development.  Elsif in its first generation will be a browser based MMORPG that utilizes elements of Three.js to bring the world to life.
									</span>
									<span class="icon-links">
						<!--                    <a href="https://github.com/cmlohr"><i class="port-icons-list fab fa-github-square"></i></a>-->
						<!--                    <a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>-->
						<!--                    <a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
										</span>
								</div>

						<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/quizguiapp.gif')}}');">
										<div class="card-title">
											<h3>Quizzy</h3>
										</div>
									</div>
									<span class="card-summary">
										 Quizzy is a true or false quiz app. Gets API from Open Trivia Database to build the questions. The quiz subject currently set to History. Build with Tkinter.
									</span>
									<span class="icon-links">
											<a href="https://github.com/cmlohr"><i class="port-icons-list fab fa-github-square"></i></a>
<!--											<a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>-->
						<!--                    <a href="#"><i class="port-icons-list fas fa-desktop"></i></a></span>-->
										</span>
								</div>

						<!--        card            -->
								<div class="card">
									<div class="card-header" style="background-image: url('{{ url_for('static', filename='/img/gif/text-csv.gif')}}');">
										<div class="card-title">
											<h3>TXT To CSV GUI</h3>
										</div>
									</div>
									<span class="card-summary">
										Simple desktop GUI txt file to csv converter. Built with Tkinter.
									</span>
									<span class="icon-links">
						                    <a href="https://github.com/cmlohr/txt-to-csv-gui"><i class="port-icons-list fab fa-github-square"></i></a>
						<!--                    <a href="https://codepen.io/cmlohr"><i class="port-icons-list fab fa-codepen"></i></a>-->
<!--						                    <a href="#"><i class="port-icons-list fas fa-desktop"></i></a>-->
									</span>
								</div>
				<!--	card end	-->
							</div>
		<!---->
						 </div>
    			</div>
			</div>
		</div>
	</div>

</section>
{% include "footer.html" %}
{% endblock %}